body{
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    background-color: #121725;
    color: #b8c0d1;
    margin-left: 100px;
    height: 800px;
}

.title{
    font-size: 52px;
    line-height: 62px;
    font-weight: 300;
    color: #54E6AF;
    text-transform: uppercase;
}

.title span{
    color: #FFFFFF;
}

.button{
    font-family: 'Chivo', sans-serif;
    background-color: #54E6AF;
    padding: 0 25px;
    border: none;
    color: #00291e;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

.button:hover{
    background-color: #b2ffe1;
}

.alert{
    position: absolute;
    color: rgb(248, 1, 1);
    font-size: 12px;
    font-weight: 500;
    margin-left: 28px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2C344B inset;
    -webkit-text-fill-color: white !important;
}

@media screen and (max-height: 650px) {
body{
    height: inherit;
    font-size: 16px;
}
}


@media screen and (max-width: 1024px) {
    body {
        height: inherit;
    }

    .title {
        font-size: 38px;
        line-height: 62px;
        font-weight: 300;
        color: #54E6AF;
        text-transform: uppercase;
    }
}